body {
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #ffffff, #c0c0c0, #ffffff); }

.page {
    width: 70%;
    border: 25px solid #9090b9;
    margin: 0 auto;
}

.post {
    margin: 1em 2em;
}

.datetime {
    font-size: 1.3em;
    color: #008080;
    text-transform: uppercase;
    letter-spacing: 0.25em
}

.post_title {
    font-size: 2em;
}

/* First paragraph after title */
.post_title + .post_body {
    border-left: 5px solid #9090b9;
    margin: 0;
    padding: 0.3em;
}